@model EmployeeViewModel

@{
    ViewData["Title"] = "EmployeeForm";
}

<h1>EmployeeForm</h1>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/app/views/employeeDetails.css" />
</head>

<div class="card border-success mb-3" style="max-width: 25rem;">
    <div class="card-header">
        <input type="text" id="postEmpName" placeholder="@Model.NamePlaceholder">
        <input type="text" id="postEmpSurname" placeholder="@Model.SurnamePlaceholder">
    </div>
    <div class="card-body">
        <div class="card-title">
            <select id="postEmpJob">
                @foreach (var job in Model.AllJobs)
                {
                    <option data-id="@job.Id">@job.SeniorityLevel @job.Title</option>
                }
            </select>
        </div>
        <div class="card-text phone">
            <input type="tel" id="postEmpPhone" placeholder="@Model.PhonePlaceholder" />
        </div>
        <br />
        <div class="card-text email">
            <input type="email" id="postEmpEmail" placeholder="@Model.EmailPlaceholder" />
        </div>
        <br />
        <div class="card-text">
            <input id="postHiringDate" type="text" class="form-control datepicker" placeholder="@Model.HiringDatePlaceholder" autocomplete="off">
        </div>
        <br />
        <b>Skills:</b>
        <div class="form-check">
            <i class="fas fa-caret-right"></i><u> Soft Skills</u> <br />
            <div class="soft">
                @foreach (var skill in Model.Skills.Where(s => s.Type == "Soft"))
                {
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-id="@skill.Id">
                        @skill.Name
                        <br />
                    </label>
                    <br />
                }
            </div>
            <input id="newSoftSkill" type="text" placeholder="Add New Soft Skill" autocomplete="off">
            <span class="d-inline-block">
                <i class="fas fa-plus softPlus"></i>
            </span>
            <br />
            <br />
            <i class="fas fa-caret-right"></i><u> Technical Skills</u> <br />
            <div class="technical">
                @foreach (var skill in Model.Skills.Where(s => s.Type == "Technical"))
                {
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-id="@skill.Id">
                        @skill.Name
                        <br />
                    </label>
                    <br />
                }
            </div>
            <input id="newTechnicalSkill" type="text" placeholder="Add New Technical Skill" autocomplete="off">
            <span class="d-inline-block">
                <i class="fas fa-plus technicalPlus"></i>
            </span>
        </div>
    </div>
</div>

<button id="submitEmployeeForm" type="button" class="btn btn-success">Submit</button>

@section Scripts {
    <script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $(function() { 
                $("#postHiringDate").datepicker({
                    dateFormat: 'd MM, yy',
                    autoHide: true,
                    onSelect: function(date) {
                      $("#postHiringDate").val(date);
                      $("#ui-datepicker-div").hide();
                    }
                });
            });

            var allSkillsInDb = [];

            $('.form-check-label').each(function () {
                allSkillsInDb.push($(this).text().trim());
            });

            var softSkills = [];
            var technicalSkills = [];
            var allNewSkills = [];

            $(".softPlus").click(function () {
                if ($("#newSoftSkill").val()) {

                    if (!allNewSkills.find(s => s.name.toLowerCase() === $("#newSoftSkill").val().toLowerCase()) &&
                        !allSkillsInDb.find(s => s.toLowerCase() === $("#newSoftSkill").val().toLowerCase())) {

                        $(".soft").append('<input class="form-check-input newSkills" type="checkbox" checked="checked">' + $("#newSoftSkill").val() + '</br>');
                        softSkills.push({ name: $("#newSoftSkill").val(), type: "Soft", description: "", isEnabled: true });
                        allNewSkills.push({ name: $("#newSoftSkill").val(), type: "Soft", description: "", isEnabled: true });
                        console.log(allNewSkills);
                    }
                }
            });

            $(".technicalPlus").click(function () {
                if ($("#newTechnicalSkill").val()) {

                    if (!allNewSkills.find(s => s.name.toLowerCase() === $("#newTechnicalSkill").val().toLowerCase()) &&
                        !allSkillsInDb.find(s => s.toLowerCase() === $("#newTechnicalSkill").val().toLowerCase())) {

                        $(".technical").append('<input class="form-check-input newSkills" type="checkbox" checked="checked">' + $("#newTechnicalSkill").val() + '</br>');
                        technicalSkills.push({ name: $("#newTechnicalSkill").val(), type: "Technical", description: "", isEnabled: true });
                        allNewSkills.push({ name: $("#newTechnicalSkill").val(), type: "Technical", description: "", isEnabled: true });
                        console.log(allNewSkills);
                    }
                }
            });

            EmployeesController.createEmployee(allNewSkills);
        });
    </script>
}