@model SkillViewModel

@{
    ViewData["Title"] = "SkillForm";
}

<h1>SkillForm</h1>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/app/views/skillDetails.css" />
</head>

<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">
        <select id="postType">
            <option>Soft</option>
            <option>Technical</option>
        </select>
    </div>
    <div class="card-body">
        <div class="card-title">
            <input id="postName" type="text" placeholder="@Model.NamePlacehodler">
        </div>
        <div class="card-text description">
            <textarea id="postDescription" placeholder="@Model.DescriptionPlaceholder"></textarea>
        </div>
    </div>
    <div class="form-check" style="padding-left: 40px;">
        @foreach (var job in Model.Jobs)
        {
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" data-id="@job.Id">
            @job.SeniorityLevel @job.Title
            <br />
            </label>      
        }
    </div>
</div>

<button id="submitSkillForm" type="button" class="btn btn-success">Submit</button>

@section Scripts {
    <script>
        
        //var jobIds = [];
        //$(".form-check input:checkbox:checked").map(function () {
        //    jobIds.push({ jobId: $(this).data('id') });
        //});
        //var jobIds = $(".form-check input:checkbox:checked").map(function () {
        //    ids.push({ jobId: $(this).data('id') });
        //    return $(this).data('id');
        //}).get();

        SkillsController.createSkill();

        //var postSuccess = function () {
        //    PageElementHelpers.toggleModal("green", "Skill created");
        //};

        //var postFail = function (xhr, textStatus, errorThrown) {
        //    PageElementHelpers.toggleModal("red", "Skill not created!" + errorThrown);
        //};

        //$("#submitSkillForm").click(function () {
        //    var jobIds = [];
        //    $(".form-check input:checkbox:checked").map(function () {
        //        jobIds.push({ jobId: $(this).data('id') });
        //    });

        //    var skillToCreate = {
        //        type: $("#postType").find(":selected").text(),
        //        name: $("#postName").val(),
        //        description: $("#postDescription").val(),
        //        isEnabled: true,
        //        jobSkills: jobIds
        //    };

        //    $.ajax({
        //        type: "POST",
        //        url: "http://localhost:5001/api/skills/",
        //        data: JSON.stringify(skillToCreate),
        //        contentType: 'application/json'
        //    })
        //        .then(postSuccess, postFail);

        //    setTimeout(function () {
        //        window.location.href = "https://localhost:44375/Skills/AllSkills"
        //    }, 2500);
        //}); 
    </script>
}